/**
 * Overflow Slider
 */

/* --------------------------------------------------------------
# Plugins
-------------------------------------------------------------- */

@forward 'plugins/arrows/styles.scss';
@forward 'plugins/autoplay/styles.scss';
@forward 'plugins/dots/styles.scss';
@forward 'plugins/fade/styles.scss';
@forward 'plugins/drag-scrolling/styles.scss';
@forward 'plugins/scroll-indicator/styles.scss';
@forward 'plugins/skip-links/styles.scss';

/* --------------------------------------------------------------
# Core
-------------------------------------------------------------- */

.overflow-slider {
	overflow: auto;
	width: 100%;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: max-content;
	max-width: max-content;
	position: relative;
	// hide native scrollbars
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	& > * {
		scroll-snap-align: start;
		outline-offset: -2px;
	}
}




